*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.logooo{ 
    position: fixed; 
    z-index: 999999; 
    background: #fff; 
    width: 100%; 
    height: 100%; 
} 
.logotip{ 
    position: absolute; 
    top: calc(50vh - 75px); 
    left: calc(32vw - 75px); 
    font-size: 5rem;
} 
.logotip{  
    width: 14ch;  
    margin-bottom: 10px;  
    font-family: monospace;  
    white-space: nowrap;  
    overflow: hidden; 
    animation: flashing-border 0.55s step-end infinite,   
    printed-text 1s steps(21);  
}
.red{
    color: #D83624;
}



.icon{ 
    font-size: 23px; 
    color: #000; 
    cursor: pointer; 
} 
.icon.cancel-berw{ 
    position: absolute; 
    top: 20px; 
    right: 30px; 
} 
.navber{ 
    position: fixed;
    width: 100%; 
    z-index: 5; 
    padding: 5px 0; 
    transition: all .3s ease;
    background: #fff;
}
.navber.actve{ 
    transition: all .3s ease;
    padding: 20px 0;
}
.navber .content{ 
    max-width: 1150px; 
    margin: auto; 
    padding: 0 40px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background: #fff;
}
.navber .content .menu-lie{ 
    display: block;
    position: fixed;
    text-align: left;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    padding: 30px 40px;
    background: #fff;
    transition: all .3s ease;
}
.navber .content .menu-lie::before{ 
    position: absolute;
    width: 100%;
    content: "";
    top: 91%;
    left: 0;
    border-top: 2px solid #D83624;
}
.navber .content .menu-lie.sticve{ 
    left: 0%;
}
.navber .content .logo{
    display: flex;
    align-items: center;
}
.navber .content .logo img{ 
    width: 81px; 
    margin-left: 1rem;
}
.navber .content .menu-lie li{
    margin-top: 35px;
}
.textlogo h4{
    font-size: 20px;
}
.textlogo p{
    font-size: 13px;
    color: #393939;
}
.navber .content .menu-lie li a{  
    font-size: 19px; 
    font-weight: 400; 
    color: rgb(0, 0, 0); 
}


.small-container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
}
.single-product{
    padding-top: 59px;
}
.small-img-row{
    display: flex;
    justify-content: space-around;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 0px;
}
.col-2{
    flex-basis: 40%;
    min-width: 420px;
    margin-top: -40px;
}
.container{
    margin: 25px 60px;
    padding: 25px 40px;
}
.colll p{
    color: #B6B6B6;
    margin-bottom: 20px;
}
.colll h1{
    color: #FF0000;
    font-size: 35px;
    margin-bottom: 40px;
}
.colll-one p{
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 700;
    width: 25rem;
    line-height: 16px;
}
/* .text-a{
    padding-top: 3rem;
}
.text-a a{
    padding: 18px 15px;
    background: #D83624;
    border: 1px solid #D83624;
    transition: .2s;
    margin-left: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.text-a a:hover{
    transition: all .3s;
    border: 1px solid #000000;
    background: #000000;
    color: #fff;
} */






.modal{
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: all .3s ease;
}
.modal.actvie{
    z-index: 999;
    pointer-events: auto;
    opacity: 1;
    top: 0;
}
.modal .modal-window{
    background: #fff;
    width: 55rem;
}
.modal .modal-header,
.modal .modal-body,
.modal-headerr{
    margin: 2rem;
}
.modal .modal-header{
    margin-left: 133vh;
    margin-top: 0rem;
}
.modal-headerr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal .modal-header .title{
    margin: 0;
    font-size: 2rem;
}
.modal .modal-header .close{
    font-size: 3rem;
    cursor: pointer;
}
.modal-headerr .title{
    margin: auto;
    font-size: 2rem;
}
.modal .modal-headerr .close{
    font-size: 3rem;
    cursor: pointer;
}

.modall{
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: all .3s ease;
}
.modall.actvie{
    z-index: 999;
    pointer-events: auto;
    opacity: 1;
    top: 0;
}
.modall .modal-window{
    background: #fff;
    width: 55rem;
}
.modall .modal-header,
.modall .modal-body,
.modal-headerr{
    margin: 2rem;
}
.modall .modal-header{
    margin-left: 133vh;
    margin-top: 0rem;
}
.modall .modal-header .title{
    margin: 0;
    font-size: 2rem;
}
.modall .modal-header .close{
    font-size: 3rem;
    cursor: pointer;
}
.modall .modal-headerr .close{
    font-size: 3rem;
    cursor: pointer;
}


.btn{
    padding: 18px 30px;
    background: #ffffff;
    border: 1px solid #000;
    transition: .2s;
    margin-right: 15px;
    border-radius: 5px;
    color: rgb(34, 34, 34);
    font-weight: 700;
    font-size: 18px;
}
.btn:hover{
    transition: all .1s;
    border: 1px solid #ffffff;
    background: #FF0000;
    color: #fff;
}
.modal .modal-body{
    display: flex;
    align-items: center;
}
.modall .modal-body{
    display: flex;
    align-items: center;
}
.modal-body .voog img{
    width: 20rem;
}
.modal-body .voog h2{
    width: 300px;
    color: #FF0000;
}
.modal-body .voog p{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
}


.containerrrt{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 3rem;
}
.form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
.form-group input,
.form-group textarea {
    outline: none;
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
}
.goov h1{
    margin-left: 5rem;
}  
.goovv{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 84px;
}
.goovv h2{
    color: #FF0000;
    width: 22rem;
}
.goovv p{
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0;
}
.modall input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #FF0000;
    margin-bottom: 25px;
}
.modall input:focus{
    outline: none;
}
.modall .btn{
    padding: 18px 30px;
    background: #ffffff;
    border: 1px solid #000;
    transition: .2s;
    margin-right: 15px;
    border-radius: 5px;
    color: rgb(34, 34, 34);
    font-weight: 700;
    font-size: 18px;
}
.modall .btn:hover{
    transition: all .1s;
    border: 1px solid #ffffff;
    background: #FF0000;
    color: #fff;
}
textarea {
    resize: vertical;
}
button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    border: 1px solid #000;
    background: none;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
    background-color: #FF0000;
    color: rgb(255, 255, 255);
    border: 1px solid #FF0000;
}
#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}
#status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}
#status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
}



.accordion{
    max-width: 800px;
    margin: 42px 45px;
}
.accordion .contentBx{
    position: relative;
    margin: 10px 20px;
}
.accordion .contentBx .label{
    border-radius: 5px;
    position: relative;
    padding: 15px;
    background: #FF0000;
    color: #fff;
    cursor: pointer;
}
.accordion .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
.accordion .contentBx.active .label::before{
    content: '-';
}
.accordion .contentBx .contenttt{
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.accordion .contentBx.active .contenttt{
    height: auto;
    padding: 10px;
}
.accordion .contentBx .contenttt-one{
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.accordion .contentBx.active .contenttt-one{
    height: auto;
    padding: 10px;
}
.contenttt p{
    font-size: 15px;
    padding-bottom: 1rem;
    font-weight: 400;
    color: #393939;
    width: 38rem;
}
.contenttt h2{
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.contenttt-one p{
    font-size: 15px;
    padding-bottom: 1rem;
    font-weight: 400;
    color: #393939;
}
.contenttt-one h2{
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.contt{
    display: flex;
    justify-content: space-between;
}
.hara{
    font-size: 15px;
    border-bottom: 1px solid #D6D8E5;
    margin-bottom: 15px;
    margin-top: 6px;
    line-height: 2rem;
}
.contt-one{
    display: flex;
    justify-content: space-between;
}


.accordion .contentBx .contenttt-two{
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.accordion .contentBx.active .contenttt-two{
    height: auto;
    padding: 10px;
}


.cont-onee h4{
    margin-top: 26px;
    margin-right: 41px;
    margin-bottom: 5px;
}
.cont-onee p{
    font-size: 13px;
    color: #B6B6B6;
}
.cont p{
    font-size: 15px;
    width: 35rem;
    margin-bottom: 1rem;
}
.cont .fa{
    color: #F3BA2B;
    margin-top: 7px;
    font-size: 20px;
    margin-bottom: 9px;
}

.contw{
    border-bottom: 1px solid #B6B6B6;
}



footer{
    background: #FBECEC;
}
.footer{
    width: 1150px;
    margin: auto;
    padding: 0 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 90px;
}
.footer .text{
    padding: 40px 15px;
    margin-left: 150px;
}
.footer .text h1{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #382626;
}
.footer .text p{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #38262680;
}
.footer .text p i{
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}
.footer .button{
    padding: 40px 15px;
}
.footer .button h1{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 25px;
    color: #382626;
}
.footer .button button{
    border: none;
    cursor: pointer;
    font-size: 19px;
    padding: 15px 35px;
    background: #FF0000;
    color: #fff;
    border-radius: 10px;
}

.containerrrtt{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.modalc{
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: all .3s ease;
}
.modalc.actvie{
    z-index: 999;
    pointer-events: auto;
    opacity: 1;
    top: 0;
}
.modalc .modal-window{
    background: #fff;
    width: 40rem;
}
.modalc .modal-header,
.modalc .modal-body{
    margin: 2rem;
}
.modalc .modal-header{
    margin-left: 92vh;
    margin-top: 0rem;
}
.modalc .modal-header .close{
    font-size: 3rem;
    cursor: pointer;
}

.goovrrrr h1{
    width: 470px;
    font-size: 27px;
    margin: auto;
}  
.goovrrrr{
    margin: auto;
}
.goovrrrr h2{
    color: #FF0000;
    width: 22rem;
}
.goovrrrr p{
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0;
}

@media (max-width: 1230px){
    .footer{
        width: auto;
    }
    .footer .text{
        margin-right: 60px;
    }
}
@media (max-width: 1100px){
    .logotip {
        left: calc(28vw - 75px);
        font-size: 5rem;
    }
}
@media (max-width: 1000px){
    .logotip {
        left: calc(27vw - 75px);
    }
}
@media (max-width: 900px){
    .logotip {
        left: calc(23vw - 75px);
    }
    .small-container{
        width: auto;
    }
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .navber .content .menu-lie{
        height: 90vh;
    }
    .footer{
        display: block;
    }
    .footer .button{
        margin-left: 100px;
    }
    .footer .button h1{
        font-size: 26px;
    }
    .footer .text{
        margin-right: 60px;
        margin-left: 100px;
    }
    .footer .text h1{
        font-size: 26px;
    }
    .footer .text p{
        font-size: 20px;
    }
}
@media (max-width: 885px){
    .logotip{
        top: calc(56vh - 75px);
        left: calc(30vw - 75px);
        font-size: 4rem;
    }
}
@media (max-width: 860px){
    .logotip{
        left: calc(29vw - 75px);
    }
}
@media (max-width: 780px){
    .logotip{
        left: calc(35vw - 75px);
        font-size: 3rem;
    }
}
@media (max-width: 670px){
    .logotip{
        left: calc(34vw - 75px);
    }
    .footer .button{
        display: none;
    }
}
@media (max-width: 660px){
    .logotip{
        left: calc(32vw - 75px);
    }
}
@media (max-width: 626px){
    .colll h1{
        font-size: 26px;
    }
}
@media (max-width: 533px){
    .logotip{
        left: calc(28vw - 75px);
    }
}
@media (max-width: 470px){
    .container{
        margin: 25px 20px;
        padding: 25px 20px;
    }
    .btn{
        padding: 18px 7px;
        font-size: 13px;
    }
    .cont p{
        width: auto;
    }
    .contenttt p{
        width: auto;
    }
}
@media (max-width: 450px){
    .logotip{
        top: calc(58vh - 75px);
        left: calc(32vw - 75px);
        font-size: 2.5rem;
    }
    .footer{
        margin-top: 15px;
    }
    .footer .text{
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width: 440px){
    .col-2{
        min-width: 80%;
        margin-top: 0;
    }
    .colll h1 {
        font-size: 24px;
    }
    .colll p{
        font-size: 12px;
    }
    .colll-one p{
        width: auto;
    }
    .btn {
        margin-right: 0;
    }
}
@media (max-width: 414px){
    .logotip{
        left: calc(37vw - 75px);
        font-size: 2rem;
    }
}
@media (max-width: 400px){
    .logotip{
        left: calc(35vw - 75px);
    }
}
@media (max-width: 380px){
    .navber .content .menu-lie{
        height: 90vh;
        left: -140%;
        max-width: 287px;
    }
    .navber .content .logo img{
        width: 50px;
    }
    .textlogo p{
        font-size: 6px;
    }
    .footer .text h1{
        font-size: 25px;
    }
    .footer .text p{
        font-size: 18px;
    }
    .accordion{
        margin: 45px 10px;
    }
}
@media (max-width: 368px){
    .footer .text p{
        font-size: 15px;
    }
}
@media (max-width: 340px){
    .navber .content .menu-lie{
        max-width: 255px;
    }
}

@keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
}